/************** Sizing and Format *****************/
* {
    box-sizing: border-box;
}

.main {
    margin-top: 40px;
}

.anime {
    margin: 2px 5px 2px 0;
    background: #000;
    border-color: #fff;
    border-radius: 0;
    padding: 0 5px 0 0;
    border-width: 0 2px 0 0;
}

.anime:hover, .anime:focus, .anime:active {
    color: #808080;
    background: #000;
    border-color: #fff;
}

.gifs {
    display: inline-block;
    margin: 0 10px 20px 0;
}

.imgs {
    border-radius: 2px;
}

.form {
    margin-bottom: 40px;
}

#anime-input {
    margin-bottom: 10px;
    color: #000;
}
/************** Colors *****************/
body {
    background: #000;
    color: #fff;
}

